

.wrap{
    position: relative;
    height: 100vh;
}


.box-orange{
    height: 50%;
    position: relative;
    top: 0px;
    background-color: orange;

}
.box-blue{

    height: 50%;
    background-color: blue;
    position: relative;
    top: 0px;

}
*{
    margin: 0;
}
